    <footer class="text-center px-3 py-5">
      <div class="container pt-4">
        <section class="footer">
          <!-- Facebook -->
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://www.facebook.com/profile.php?id=61552760698548&mibextid=ZbWKwL"
            role="button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Facebook page"
            data-aos="fade-up"
          >
            <i class="fab fa-facebook-f"></i>
          </a>

          <!-- YouTube -->
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://youtube.com/@himeshithisara?si=7oSLnsUvDNmCHQdg"
            role="button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Youtube channel"
            data-aos="fade-down"
          >
            <i class="fab fa-youtube"></i>
          </a>

          <!-- WhatsApp -->
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://wa.me/94712816926"
            role="button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Whatsapp page"
            data-aos="fade-up"
          >
            <i class="fab fa-whatsapp"></i>
          </a>

          <!-- TikTok -->
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://www.tiktok.com/@miss_saara_?_t=8my4TZRFPda&_r=1"
            role="button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Tiktok account"
            data-aos="fade-down"
          >
            <i class="fab fa-tiktok"></i>
          </a>

          <!-- Instagram -->
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://www.instagram.com/kraft_lady_by_sara?igsh=MWVkYmk1aHNkNmJwbA=="
            role="button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Instagram account"
            data-aos="fade-up"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </section>
      </div>

      <div class="text-center p-2 mt-3">&copy; 2024 Kraft lady by Sara</div>
    </footer>
