    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="index.html"
        ><img src="images/logo-2.png" alt="Kraft Lady by Sara logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="content">
          <div class="links">
            <ul class="navbar-nav">
              <hr />
              <li class="nav-item px-3">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <hr />
              <li class="nav-item px-3">
                <a class="nav-link" href="vlog.html">Vlog</a>
              </li>
              <hr />
              <li class="nav-item px-3">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <hr />
              <li class="nav-item px-3">
                <a class="nav-link" href="shop.html">Shop</a>
              </li>
              <hr />
              <li class="nav-item px-3">
                <a class="nav-link" href="contact.html">Contact Me</a>
              </li>
              <hr />
              <li class="nav-item px-3">
                <a class="nav-link" href="downloads.html">Downloads</a>
              </li>
            </ul>
          </div>

          <div class="greet">
            <hr />
            <p>
              Hello Sunshine ☀🌻!!! Welcome to our oh-so-charming corner of the
              web ✌. Get ready for smiles and happiness when you explore our
              cute universe 🧿🪄
            </p>
            <hr />
          </div>
        </div>
      </div>
    </nav>
